%form.form-horizontal{:action => url_for("/posts/"), :method => "post"}
  %fieldset
    %legend Fill all fields and click the Create button to publish a new IIHT wish:
    .control-group
      %label{:for => "title"} If I have time
      .controls
        %input.input-xlarge{:type => "text", :name => "title", :autofocus => "autofocus"}
        %p.help-block Required and less than 140 charaters.
      %p &nbsp;
      %label{:for => "body"} which means
      .controls
        %textarea.input-xlarge{:rows => "10", :name => "body"}
      %p &nbsp;
      .controls
        %input.btn.btn-primary{:type => "submit", :value => "Create"}
 