#post
  = haml :_post, :locals => {:post => @post}
- comments = @post.comments.all(:order => [:created_at.asc])
.well
  - if comments.count > 0
    #comments
      - comments.each_with_index do |comment, index|
        = haml :_comment, :locals => {:index => index, :comment => comment}
    %hr/
  %form#formComment{:name => "formComment", :action => "/posts/#{@post.id}/comments", :method => "post"}
    .control-group
      %label{:for => "title"} Add a comment:
      .controls
        %textarea.input-xxlarge{:rows => "4", :name => "comment", :autofocus => "autofocus"}
    .control-group
      .controls
        %input.btn.btn-primary{:type => "submit", :value => "Submit"}
        #alert.alert.alert-info        

%script{ :type => "text/javascript", :src => "/js/comment.js"}
= haml :_post_form, :locals => {:mode => "edit"}